.navigation {
  width: 100%;
  @include boxBorder(no);
  display: flex;
  justify-content: center;

  .inner {
    max-width: $max-page-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 25px 0;

    .column {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;



      .logo {
        max-width: 100px;
      }
      .icons{
        display: flex;
        justify-content: space-between;
        .nav-icon {
          margin-left: 30px;
          cursor: pointer;
        }
      }
    }
  }
}